<div id="wrap">
    <div class="logo"><img width="150px;" src="/i/logo.png" alt=""/></div>
    <div class="motto">
        <span class="motto-item">Стратегия</span>
        <span class="motto-item">Дизайн</span>
        <span class="motto-item">Продвижение</span>
        <span class="we">Мы &mdash; не агентство, Мы &mdash; команда.</span>
        <p class="about">Под каждым проектом мы ставим свое имя и делаем его так, чтобы нам не было стыдно. Мы любим своих клиентов и поэтому потратим на ваш проект бесконечное количество сил, энергии и времени, чтобы вы остались довольны!</p>
    </div>
    <div class="buttons">
        <div class="download">
            <a href="files/weteam_portfolio.pdf">Скачать портфолио</a>
        </div>
        <div class="download l">
            <a href="" id="send">Написать нам</a>
        </div>
    </div>
    <div class="clr"></div>
    <div class="contacts">
        <span class="tel">8 (913) 470-87-53</span>
        <span class="mail"><a href="mailto:hello@weteam.pro">hello@weteam.pro</a></span>
    </div>
</div>

<form id="form">
    <div class="-fade"></div>

    <div class="-content">
        <div class="-row">
            <input type="text" id="name" name="name" placeholder="Имя" required="required"/>
        </div>

        <div class="-row">
            <input type="email" id="email" name="email" placeholder="E-Mail" required="required" />
        </div>

        <div class="-row">
            <input type="tel" id="phone" name="phone" placeholder="Телефон" required="required" />
        </div>

        <div class="-row">
        <textarea name="comment" id="comment" placeholder="Комментарий" required="required"></textarea>
        </div>

        <div class="-row" style="text-align: center;">
            <button>Отправить</button>
        </div>
    </div>
</form>
